

<div class="card" >
  <img class="card-img-top" src="{{ event.image }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ event.title }}</h5>
    <hr>
    <p class="card-text"> start date :   {{ event.start_date }} | end date : {{ event.end_date }}</p>
    <h6 class="card-subtitle mb-2 text-muted">{{ event.category }}</h6>
    <p class="card-text">{{ event.description }}</p>

  </div>
</div>

